* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   margin: 4em auto;
   width: 800px;
   height: 800px;
}

.cell {
   display: inline-block;
   width: 9%;
   height: 9%;
   background-color: rgb(189, 187, 187);
   margin: 1px;
   padding: auto;
}

.activate {
   background-color: rgba(255, 0, 8, 0.001);
}

.num-generator,
.title {
   text-align: center;
}

.num {
   display: inline-block;
}
